<div>
<%= link_to image_tag("http://github.com/intridea/authbuttons/raw/master/png/twitter_32.png", :alt => "Twitter"), '/auth/twitter' %>
<%= link_to image_tag("http://github.com/intridea/authbuttons/raw/master/png/facebook_32.png", :alt => "Facebook"), '/auth/facebook' %>
</div>

